@import "./_variables";

:root {
  --first-color: #deeb2f;
  --text-color: #fafafa;
  --bg-color: #070707;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  text-align: center;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

@media only screen and (max-width: $large-device) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: $medium-device) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: $small-device) {
  html {
    font-size: 12px;
  }
}
